AddDefaultCharset UTF-8 
Options -Indexes

RewriteEngine on 
RewriteCond	%{REQUEST_URI}	!Meruert/*
RewriteCond	%{REQUEST_URI}	!Userfiles*
RewriteCond	%{REQUEST_URI}	!robots.txt
RewriteCond	%{REQUEST_URI}	!sitemap.xml
RewriteCond	%{REQUEST_URI}	!favicon.*
RewriteCond	%{REQUEST_URI}	!apple-touch-icon.*
RewriteCond	%{REQUEST_URI}	!index.php
RewriteRule	^(.*)$		index.php?q=$1 [QSA]